@import '../../.cache/wal/colors.scss';

* {
    all: unset; //Unsets everything so you can style everything from scratch
  }
  
  .bar {
    background-color: $background;
    color: $foreground;
    padding: 10px;
  }
  
  .metric {
    margin-left: 20px;
  }

  .metric label {
    margin-right: 15px;
  }

  .workspaces button:hover {
    color: $color3;
  }
  