// Theme colors ----------------------------------------------------

$background-color: rgb(34, 36, 46);
$forground-color: rgb(202, 202, 202);
$highlight-color: rgb(58, 169, 233);
$shadow-color: rgb(112, 112, 112);

// Common ----------------------------------------------------------

* {
  all: unset;
  font-family: Fira Code;
}

// windows {
//   background-color: rgba(0, 0, 0, 0.699);
// }

.bg {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

// widget card -----------------------------------------------------

.card {
  background-color: $background-color;
  border-radius: 25px;

  :hover {
    background-color: rgb(39, 41, 54);
    border-radius: 25px;
  }
}

// Profile ---------------------------------------------------------

.face {
  background-size: cover;
  min-height: 326px;
  min-width: 326px;
  margin: 80px 0px 60px 0px;
  border-radius: 10%;
}

.username {
  color: $highlight-color;
  font-size: 50px;
  font-weight: bold;
}

.hostname {
  color: $forground-color;
  font-size: 35px;
  font-weight: bold;
  margin: -20px 0px 0px 0px;
}

.clock_date {
  color: $forground-color;
  font-size: 34px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.clock_time {
  color: $highlight-color;
  font-size: 70px;
  font-weight: bold;
}

.btn {
  font-size: 48px;
  // font-weight: bold;
  color: $forground-color;
}

.btn_icon {
  color: $forground-color;
  font-size: 48;
}

.btn_text {
  color: $forground-color;
  font-size: 30px;
  font-weight: bold;
}

.memory_available_text {
  color: $highlight-color;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.memory_total_text {
  color: $forground-color;
  font-size: 25px;
  font-weight: bold;
}
