configuration {
	bw: 0;
	eh: 1;
	lines: 15;
	columns: 1;
	padding: 100;
	line-margin: 25;
	show-icons: true;
	auto-select: false;
	font: "Fira code 18";
	hide-scrollbar: true;
	separator-style: "solid";
	modi: "window,drun,ssh,file-browser";
	theme: "~/.config/rofi/themes/applications.rasi";
}
