configuration {
	modi:				    "drun";
	display-drun: 			"";
  	show-icons: 			true;
	matching: 				"fuzzy";
	drun-display-format:    "{name}";
	sidebar-mode: 			false;
    icon-theme: 			"la-capitaine-icon-theme";
  	drun-match-fields: 		"name,generic";
}